<extend name="Base/base"/>
<block name="main">
    <volist name="list" id="document">
        <div class="row noticeList">
            <a href="{:U('Notice/detail?id='.$document['id'])}">
            <!--    <a href="{:U('detail?id='.$channel['id'])}">-->
                <div class="col-xs-2">
                    <img class="noticeImg" src="{$document.path}" />
                </div>
                <div class="col-xs-10">
                    <p class="title">{$document.title}</p>
                    <p class="intro">{$document.description}</p>
                    <p class="info">浏览: {$document.view} <span class="pull-right">{$document.create_time|time_format}</span> </p>
                </div>
            </a>
        </div>
    </volist>
</block>
<!--<div class="page">
    {$page}
</div>-->

